<%= form_for @listing do |f| %>
 
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@listing.errors.count, "error") %> prohibited
        this listing from being saved:
      </h2>
      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label "Price per night" %><br>
    <%= f.number_field :price_per_night %>
  </p>

  <p>
    <%= f.label "Price per person" %><br>
    <%= f.number_field :price_per_person %>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <p>
  
  <div>
    <%= f.label "Wifi" %>
    <%= f.check_box :tag_list, { :multiple => true }, 'Wifi', nil %>
    <%= f.label "Kitchen" %>
    <%= f.check_box :tag_list, { :multiple => true }, 'Kitchen', nil %>
    <%= f.label "Aircon" %>
    <%= f.check_box :tag_list, { :multiple => true }, 'Aircon', nil %>
    <%= f.label "Fireplace" %>
    <%= f.check_box :tag_list, { :multiple => true }, 'Fireplace', nil %>
  </div>

  </p>
  <% if @listing.avatars.present? %>
    <% @listing.avatars.each_with_index do |i, index| %>
      <%= image_tag (i.thumb.url) %>
    <% end %>
    Upload photos<br>
    <%= f.file_field :avatars, multiple: true %>
  <% end %>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>