
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>
 
<%= @error if @error %>
<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>
<% if @listing.avatars.present? %>
	<% @listing.avatars.each do |i| %>
		<%= image_tag (i.medium.url) %>
	<% end %>
<% end %>

<%= render 'booking' %>

<% if @listing.reservations.present? %>
	Booked dates:
	<% @listing.reservations.each do |i| %>
		From <%= i.start_date %> to <%= i.end_date %> <br>
	<% end %>
<% end %>

<%= Date::current() %>


<%= link_to 'Edit', edit_listing_path(@listing) %>


<%= link_to 'Listing List', listings_path %>