<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new guest!, <%= @reservation.listing.user.name %></h1>
    <p>
      They will be staying at: <%= @reservation.listing.title %>.<br>
    </p>
    <p>
    Reservation is from <%= @reservation.start_date %> to <%= @reservation.end_date %> for only <%= @reservation.total_price %>
    <br>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>